@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@layer base {
  .container {
    @apply mx-auto;
  }
  h2 {
    @apply text-5xl md:text-7xl xl:text-8xl font-bold text-black;
  }
  h3 {
    @apply text-2xl md:text-4xl xl:text-6xl font-semibold text-black;
  }
  p {
    @apply text-lg md:text-xl xl:text-2xl text-black;
  }
  .what-included-list,
  .what-not-included-list,
  .marketing-list {
    li {
      @apply font-semibold;
    }
  }
  .what-included-list,
  .what-not-included-list,
  .marketing-list {
    li {
      img {
        @apply w-8 md:w-10 mr-2;
      }
    }
  }
}
.curtain-item-mobile {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    background-color: #ffffff;
    height: 1px;
    width: 60%;
    left: 50%;
    bottom: -1px;
    transform: translate(-50%, -50%);
  }
}
.selling-point-box {
  background-color: rgba(255, 255, 255, 0.6);
  transition: background-color 0.2s ease;
  &:hover {
    background-color: #ffffff;
  }
}
.carousel .control-next.control-arrow:before {
  border-color: #171717;
}
.what-included-list,
.what-not-included-list,
.marketing-list {
  li {
    display: flex;
    align-items: center;

    img {
      display: inline-block;
    }
  }
}
.what-included-list {
  li {
    img {
    }
  }
}
