@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@layer base {
  //defining default styles for elements below
  .container {
    @apply mx-auto;
  }
  h2 {
    @apply text-5xl md:text-7xl xl:text-8xl font-bold text-black;
  }
  h3 {
    @apply text-2xl md:text-4xl xl:text-6xl font-semibold text-black;
  }
  h4 {
    @apply text-xl md:text-3xl xl:text-5xl font-semibold text-black;
  }
  p {
    @apply text-lg md:text-xl xl:text-2xl text-black font-body;
  }
  .what-included-list,
  .what-not-included-list,
  .marketing-list {
    li {
      @apply font-semibold;
    }
  }
  .what-included-list,
  .what-not-included-list,
  .marketing-list {
    li {
      img {
        @apply w-8 md:w-10 mr-2;
      }
    }
  }
  .checkbox {
    @apply w-6 h-6 xl:w-8 xl:h-8;
  }
  .custom-checkbox {
    @apply w-6 h-6 xl:w-8 xl:h-8 z-10;
  }
  label {
    @apply font-semibold my-2;
  }
  .what-not-included-list {
    li {
      display: flex;
      align-items: center;
      @apply my-1 md:my-4;
    }
  }
}
//more general styles styled with pure Sass
.curtain-item-mobile {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    background-color: #ffffff;
    height: 1px;
    width: 60%;
    left: 50%;
    bottom: -1px;
    transform: translate(-50%, -50%);
  }
}
.selling-point-box-2 {
  background-color: #ffffff;

  transition: background-color 0.2s ease;
  &:hover {
    background-color: rgba(255, 255, 255, 0.6);
  }
}
.carousel .control-next.control-arrow:before {
  border-color: #171717;
}
.what-included-list,
.what-not-included-list,
.marketing-list {
  li {
    display: flex;
    align-items: center;

    img {
      display: inline-block;
    }
  }
}
.what-not-included-list {
  li {
    display: flex;
    align-items: center;
    margin: 6.5px 0;
  }
}
.underline-hover {
  position: relative;
  overflow: hidden;
  &::after {
    transition: all 0.3s ease;
    content: "";
    width: 0;
    height: 1px;
    background-color: #171717;
    position: absolute;
    left: -12.5%;
    bottom: 2px;
  }
  &:hover::after {
    width: 125%;
  }
}

.underline-active {
  position: relative;
  overflow: hidden;
  &::after {
    content: "";
    width: 125%;
    height: 1px;
    background-color: #171717;
    position: absolute;
    left: -12.5%;
    bottom: 2px;
  }
}
.checkbox {
  overflow: hidden;
}
.custom-checkbox {
  display: none;
}
.checkbox:checked ~ .custom-checkbox {
  display: flex;
}
.carousel .control-arrow:before,
.carousel.carousel-slider .control-arrow:before {
  border-top: 12px solid transparent !important;
  border-bottom: 12px solid transparent !important;
}
.carousel .control-prev.control-arrow:before {
  border-right: 12px solid transparent !important;
  border-right-color: #171717 !important;
}
.carousel .control-next.control-arrow:before {
  border-left: 12px solid transparent !important;
  border-left-color: #171717 !important;
}
